<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386986314949-cba1pato7186lk5lqvva733liu1t6dof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386986314949-cba1pato7186lk5lqvva733liu1t6dof</string>
	<key>API_KEY</key>
	<string>AIzaSyBdDgge-tjuNAWvM8dGAQgvl-WfSOU0yGg</string>
	<key>GCM_SENDER_ID</key>
	<string>386986314949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xalum1u.justAudioServiceSession</string>
	<key>PROJECT_ID</key>
	<string>xalum1u</string>
	<key>STORAGE_BUCKET</key>
	<string>xalum1u.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386986314949:ios:08f09ef3fcba48f32cb4ac</string>
</dict>
</plist>